# Server Configuration
IP_ADDRESS=0.0.0.0
NODE_ENV=development
PORT=3000

# Database
DATABASE_URL=

# URLs
RESET_PASS_UI_LINK=

# Security
ALLOWED_ORIGINS=
BCRYPT_SALT_ROUNDS=10

# JWT Configuration
JWT_SECRET=
JWT_EXPIRE_IN=1h
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRE_IN=1d

# Stripe Configuration
STRIPE_API_KEY=
STRIPE_API_SECRET=
STRIPE_WEBHOOK_SECRET=

# Email Configuration
EMAIL_FROM=
EMAIL_USER=
EMAIL_PORT=587
EMAIL_HOST=
EMAIL_PASS=

# Admin Configuration
ADMIN_EMAIL=
ADMIN_PASSWORD=
